.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 35px; /* Add space on the right side */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input-info {
    color: red;
    font-size: 12px;
  }
  
  .forgot-password {
    text-align: center;
    margin-bottom: 20px;
  }

  .forgot-password a {
    color: black;
    text-decoration: underline;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color:  hotpink;
  }

  .btn-primary:hover {
    background-color: #115d58; /* Change the hover color */
  }
  
  .btn-secondary {
    background-color:  palevioletred;
  }

  .btn-secondary:hover {
    background-color:#115d58; /* Change the hover color */
  }