*{
	padding: 0;
	margin: 0;
}
body{
	top: 100px;
	position: absolute;
	font-family: Apercu,Gill Sans,sans-serif;
    font-weight: 400;
}

.container{
	margin-left: 15px;
}

.info_section{
	display: flex;
	flex-direction: column;
	width: 28%;
	/* gap: 20px; */
	margin-left: 0 0 0 0.5rem;
}

.section{
	display: flex;
	justify-content: space-between;
}

.title{
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: normal;
	/* margin: 0 0 0 0.5rem; */
	line-height: 1.25;
}

.title-desc{

}

.btn-addtobag{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.btn-addtobag button{
	padding: 0.5rem 1rem;
	color: #000;
	text-align: center;
	min-height: 2.5rem;
	transition: font-size .4s, ease-in-out;
	font-family: Apercu,Gill Sans,sans-serif;
	background-color: #f7f7f7;
	outline: none;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
	margin-top: 0.5rem;
}

.desc-title{
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.desc{
	margin-bottom: 0.5rem;
	font-family: Apercu,Gill Sans,sans-serif;
    font-weight: 400;
    margin: 0 0 1rem;
    font-size: .875rem;
    line-height: 1.225rem;
}

.uses span:first-child{
	
	margin-right: 40%;
}

.uses span{
	font-size: 1.25rem;
}

.uses{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.info{
	margin-top: 1rem;
	color: #666;
	font-weight: 400;
	font-size: 0.875rem;
}


.image-section{
	width: 66%;
	display: flex;
	gap: 10px;
	/* flex-grow: 1; */
}

.image-section img{
	height: 80vh;
}


